/* Inserta tu CSS aqui */
body{
	margin: 0;
	padding: 0;
}
.box-one{
	width: 400px;
	height: 400px;
	background-color: blue;
	position: absolute;
}
.box-two{
	width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  margin: 100px;
}
.box-three{
	width:100px;
	height:100px;
	background-color: black;
	position: relative;
}